#navbar-menu{
	background-color:#222222;
}

#contact_zone {
    text-align: center;
}

#img_interet{
	valign:middle;
	text-align:center;
	margin-top:20%;
}

#td_img_interet{
	text-align:center;
}

#email-adress{
	color:#888888;
	font-weight:normal;
}
	
#img_david{
	color: white;
	font-size: 2.4em;
	font-weight: normal;
	text-shadow: 1px 1px 1px #cccccc;
	background:#0258D1;
	border-bottom:3px solid #444;
	border-top:3px solid #444;
	margin:0px;
	padding:0.8em;
}

#test {
	background-color:grey;
	color:white;
	font-size:12px;
	padding:4px 2px 4px 2px;
	border:1px;
	border-style:solid;
}

.progress-bar{
	background-color:#0258D1;
}

.th-cust{
	border:none;
}

.mentions {
	background:#222222 url(/css/img/footer-logo.png) no-repeat 99% 50%;
	padding:1.3em;
	color:#888888;
	box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.1);
	border:1px solid #ddd;
	margin:auto;
	padding-right: 170px;
	text-align:center;
}

.ul_domaine_comp li{
	line-height:140%;
}

.ul_cursus_uni li{
	line-height:140%;
}

.ul_exp_pro li{
	line-height:150%;
}

.ul_exp_pro_emploi li{
	line-height:200%;
}

.ul_exp_pro_emploi_idoine li{
	line-height:180%;
}

.ul_exp_pro_emploi_pellat li{
	line-height:170%;
}

.mentions a {
	font-weight:bold;
	color:#fff;
}

.hint {
	background:#ddd;
	padding:3px;
	border:1px dashed white;
}

.warning {
	color:#c00;
}

body {
	font: normal 160% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	color: #444;
	background:#f4f4f4;
	padding:0 0 2em 0;
	margin:25px;
}


h1 {
	color: white;
	font-size: 1.7em;
	font-weight: normal;
	text-shadow: 1px 1px 1px #cccccc;
	background:#0258d1;
	border-bottom:3px solid #444;
	border-top:3px solid #444;
	padding:0.8em;
}

h2 {
	font-size: 2em;
	font-weight:bold;
	border-top:2px solid #444;
	margin: 25px 3px .1em 0;
	color: #444;
	text-shadow: 1px 1px 1px #cccccc;
}

ul {
	margin:5px;
	padding:0;
	list-style:none;
}

li {
	list-style-type:none;
	padding-left: 10px;
}


input[type="number"] {
		line-height:1.5;
		width:50px;
		border-radius:5px;
		border: 1px solid #dadada;
	}
table {
	width: auto;
	margin: auto;
}

th {
	color:#888888;
	background: #222222;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	text-align:center;
	font-weight:normal;
}

.button{

}

th, td {
	text-align: left;
	padding: 5px 8px;
}

fieldset {
	border:0;
	padding:0;
}
legend {
	padding-bottom: 1em;
}

@media (max-width: 640px) {
	h1 {font-size:2.5em;}
	img {
	height: auto; width: auto;
    }
	 body, details, .mentions {
	   width: auto;
	   margin: auto;
	   padding: initial;
	 }
	img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
	   max-width: 100%;
	 }
	img {
	   height: auto; width: auto;
	 }
	textarea, table, td, th, code, pre, samp {
	   word-wrap: break-word;
	   hyphens: auto;
	}
	code, pre, samp {
	   white-space: pre-wrap;
	}
	
	p + details, form, h3 {margin-left:0 !important;}
	img {
	   float: none !important;
	   width: auto !important;
	}
	.mentions {
		background-image:none;
	}
	.hide_mobile {
	   display: none !important;
	}
}
@media (max-width:640px) and (orientation: landscape) {
  body {
    margin:auto;
  }
}